.section-6 {
  position: relative;
  width: 100%;
  background-color: #F1F1F1;
  padding: clamp(40px, 5.3vw, 80px) clamp(20px, 5vw, 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: clamp(400px, 53.5vw, 642px);
}
.section-6__content {
  width: 100%;
  max-width: clamp(320px, 90vw, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(12px, 1.8vw, 24px);
}
.section-6__subtitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(14px, 1.5vw, 20px);
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #B0B0B0;
  margin: 0 0 clamp(-8px, -1.2vw, -18px);
  text-align: center;
}
.section-6__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(28px, 4vw, 48px);
  line-height: 130%;
  letter-spacing: 0.02em;
  background: linear-gradient(270deg, #F6B0FF 3.37%, #7D21CF 52.88%, #A157FF 98%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin: 0;
  text-align: center;
}
.section-6__button {
  margin-top: clamp(6px, 1vw, 12px);
  font-size: clamp(14px, 1.3vw, 17px);
  color: var(--black);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(217, 217, 217, 0.25) 100%);
  backdrop-filter: var(--backdrop-blur-small);
  -webkit-backdrop-filter: var(--backdrop-blur-small);
  box-shadow: 
    0px 10px 10px 0px #FFFFFF40 inset,
    0px -10px 10px 0px #FFFFFF40 inset,
    -5px 10px 20px 0px #9191910D,
    -15px 35px 40px 0px #9191910A,
    -35px 85px 55px 0px #91919108,
    -60px 150px 65px 0px #91919103,
    -95px 235px 70px 0px #91919100;
  width: clamp(240px, 21.5vw, 311px);
}
.section-6__button::before {
  padding: 1px;
  background: linear-gradient(180deg, #FFFFFF -10.14%, #808080 53.28%, #FFFFFF 95.1%);
}
.section-6__features {
  display: flex;
  gap: clamp(20px, 4vw, 60px);
  margin-top: clamp(12px, 1.8vw, 24px);
  flex-wrap: wrap;
  justify-content: center;
}
.section-6__feature {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 35px);
  line-height: 135%;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #424242;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 2px rgba(128, 113, 113, 0.3);
}

@media (max-width: 768px) {
  .section-6__feature {
    font-size: clamp(16px, 2.5vw, 25px);
  }
  .section-6__title {
    margin-bottom: clamp(20px, 4vw, 40px);
  }
  .section-6__features {
    margin-top: clamp(20px, 4vw, 40px);
  }
}